.controls-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 0.3s;
	font-size: 1.1em;
}

.control-handles svg {
	scale: 1.125;
}

.player-wrapper:hover .controls-container {
	opacity: 1;
}

.video-time {
	align-items: center;
	font-size: 0.9em;
	font-weight: 100;
	padding: 0em 0.5em;
	letter-spacing: 1px;
}

.control-handles {
	padding: 0.125em 0.125em;
	display: flex;
	background-color: rgba(36, 36, 36, 0.95);
}

.control-handles div {
	display: flex;
}

.control-handles button {
	all: unset;
	height: 1em;
	width: 1em;
	padding: 0.25em;
	margin: 0;
	font-size: 1.5rem;
	color: #fff;
	line-height: 100%;
}

.control-handles button:focus {
	outline: 2px solid #fff;
}

.left {
	display: flex;
	margin-left: auto;
}

.resolution-selector {
}

.volume * {
	display: flex;
	padding: 0;
	margin: 0;
}

.volume input {
	opacity: 0;
	transition: opacity 0.15s;
}

.volume button:hover ~ input,
.volume input:hover {
	opacity: 1;
}