body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #343a40;
}
.home-container{
    display: flex;
    overflow: scroll;
}

.feed{
    flex-grow: 1;
}


@media screen and (max-width: 768px) {
    .home-container {
        display: flex;
        flex-direction: column;
    }
}