body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #17171b;
}
.home-container{
    display: flex;
    overflow: hidden;
    height: 100vh;
}


@media screen and (max-width: 768px) {
    .home-container {
        display: flex;
        flex-direction: column;
    }
}