@import url(https://fonts.bunny.net/css?family=abeezee:400);

.left-bar {
	border-right: 1px solid gray;
	color: aliceblue;
	font-family: "AbeeZee", sans-serif;
	padding: 20px;
	padding-top: 0px;
	overflow-y: scroll;
}

.go-live a {
	all: unset;
}

.logo h1 {
	color: #d5f2ff;
}

.go-live button {
	all: unset;
	display: inline-block;
	width: 15ch;
	text-align: center;
	background-color: transparent;
	padding: 5px 0;
	color: white;
	border: 1px solid white;
	cursor: pointer;
	transition: background-color 0.3s;
}

.go-live button:hover {
	background-color: lightgray;
	background-color: red;
}

.tags {
	display: flex;
	flex-direction: column;
}

.tag {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.tag input[type="checkbox"] {
	display: none;
}

.tag label {
	display: inline-block;
	padding: 5px;
	background-color: transparent;
	color: white;
	border: 1px solid gray;
	cursor: pointer;
	transition: background-color 0.3s;
}

.tag input[type="checkbox"]:checked + label {
	background-color: lightgray;
	color: #000000;
}

.tag label:hover {
	background-color: lightgray;
	color: black;
}

.movies {
	display: flex;
	flex-direction: column;
}

a {
	all: unset;
}

.movie {
	margin-bottom: 2px;
	padding: 5px;
	background-color: #535c66;
	color: whitesmoke;
	cursor: pointer;
}

.movie:hover {
	background-color: lightgray;
	color: black;
}

*::-webkit-scrollbar {
	width: 0.25em;
}

*::-webkit-scrollbar:hover {
	cursor: pointer;
}

*::-webkit-scrollbar-track {
	background-color: rgb(100, 100, 100);
}

*::-webkit-scrollbar-thumb {
	background-color: #ececec;
}

@media screen and (max-width: 768px) {
	.left-bar {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding: 0;
		overflow: visible;
	}
	.left-bar .logo {
		width: 100%;
		text-align: center;
	}
	.left-bar .tags {
		display: flex;
		flex-direction: row;
	}
	.categories {
		display: flex;
		align-items: center;
		margin: 0 0 0 10px;
	}
	.tags {
		margin: 0 0 0 10px;
		display: flex;
		align-items: center;
		overflow-x: scroll;
	}
	.tag {
		margin: 0 5px 0 0;
	}
}
