.left-bar {
	border-right: 1px solid rgba(128, 128, 128, 0.25);
	color: aliceblue;
	font-size: 1.2em;
	background-color: #121215;
	padding: 10px;
}

.go-live a {
	all: unset;
}

#upload{
	border-radius: 10px;
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid gray;
	cursor: pointer;
	transition: background-color 0.3s;
	width: 100%;
	text-align: center;
}

.tags {
	display: flex;
	flex-direction: column;
	scrollbar-width: none;
	padding-top: 10px;
}

.tag {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.tag input[type="checkbox"] {
	display: none;
}

.tag label {
	border-radius: 10px;
	display: inline-block;
	padding: 5px 10px;
	color: whitesmoke;
	border: 1px solid gray;
	cursor: pointer;
	transition: background-color 0.3s;
	width: 100%;
	text-align: center;
}

.tag input[type="checkbox"]:checked + label {
	background: whitesmoke;
	color: black;
}

.tag label:hover {
	background-color: gradient;
	background: rgba(255, 255, 255, 0.25);
}

.movies {
	display: flex;
	flex-direction: column;
}

a {
	all: unset;
}

@media screen and (max-width: 768px) {
	.left-bar {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding: 0;
		overflow: visible;
	}
	.left-bar .tags {
		display: flex;
		flex-direction: row;
	}
	.categories {
		display: flex;
		align-items: center;
	}
	.tags {
		display: flex;
		align-items: center;
		overflow-x: scroll;
	}
	.tag {
		margin: 0 5px 0 0;
	}
}
