.video {
	display: flex;
	flex-direction: column;
	position: relative;
	cursor: pointer;
	filter: drop-shadow(5px 5px 10px #19191f);
}

.thumbnail {
	width: 100%;
	height: 100%;
	gap: 1em;
	overflow: hidden;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	display: block;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	transition: scale 0.2s ease-in-out;
	border-radius: 10px;
}

.thumbnail:after {
	border-radius: 10px;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 0%,
		rgb(0, 0, 0) 100%
	);
	height: 50%;
}

.title {
	position: absolute;
	bottom: 0;
	color: aliceblue;
	font-size: 1.2em;
	padding: 10px;
	transition: all 0.2s ease-in-out;
}

.video:hover .title {
	font-size: 1.5em;
}

@media screen and (max-width: 768px) {
	.thumbnail img {
		border-radius: 0px;
	}
    .thumbnail:after{
        border-radius: 0px;
    }
    .video{
        border-bottom: 5px solid #000;
    }
}
