.video-page-container{
    flex-grow: 1;
    display: flex;
}

.left{
	flex-grow: 1;
}

.info {
	font-size: 1.25em;
	color: white;
}

.info .name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-top: 2px solid #535c66;
	border-bottom: 2px solid #535c66;
}

.date {
	padding: 5px;
	font-size: 0.5em;
	color: gray;
}

@media screen and (max-width: 768px) {
    .video-page-container{
        flex-direction: column;
    }
}