.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.setup{
    display: flex;
    flex-direction: column;
}

.setup div{
    background-color: #727e8c;
    margin: 1em;
}

video{
    max-height: 300px;
    object-fit: cover;
}